<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='11.css') }}">

    <title>Upload File</title>
</head>
<body>
    <div class="navbar">
        <div id="title">
            <h1>EXCEL FILTERING</h1>
        </div>
    </div>

    <div class="content">
        <div class="utilities-container">
            <div class="utility-box">
                <h2>Upload the Excel file</h2>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" accept=".xlsx" style="background-color: rgb(211, 210, 208);">
                    <br><br>
                    <input type="submit" value="Upload">
                </form>
            </div>
        </div>

        <div class="warning">
            <p >Ensure that the uploaded file follows the following format to avoid processing errors.
                <br>
                <p style="color: #000000;">(Hover to see format)</p>
            </p>
            {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

            
            <div class="hover-image">
                <img src="{{ url_for('static', filename='format2.png') }}" alt="File Format Example">
            </div>
        </div>
    </div>
    {% if error %}
    <script>
        alert("{{ error }}");
    </script>
    {% endif %}
</body>
</html>
