<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Upload File</title>
</head>
<body>
    <div class ="header">
        <nav>
            
            <div id="title">
            <h1 >EXCEL FILTERING</h1>
         </div>
        </nav>
  
    
    
    


    <h2>Upload the Excel file</h2>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx">
        <br><br>
        <input type="submit" value="Upload">
    </form>


    <h1>OR</h1>
    
    
    <button style="font-size: larger;"> 
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScXuqR1Uigh81b0HpnT7nym3fQBp_RYk6b8A_iuw_s4CQyRvw/viewform?usp=sf_link" 
        target="_blank" 
        style="text-decoration: none; color: black;">
            Go to Google Form
        </a>
    </button>
</div>
</body>
</html>
